<h1>{{ translate("txt-edit-calendar-item") }}</h1>

<p class="lead">{{ translate("txt-edit-calendar-item-explanation") }}</p>

{% include 'calendar/partial/form/calendar' with {'form': form} %}







