<div class="year-selector">
    <h3>{{ translate("txt-year-selector") }}</h3>

    <ul class="nav flex-column nav-stacked nav-pills nav-pills nav-year-selector">
        {% for year in years|reverse %}
            <li class="nav-item" {% if selectedYear == year %}class="active"{% endif %}>
                {{ calendarLink(null, 'list', 'alternativeShow', constant("Calendar\\Service\\CalendarService::WHICH_ON_HOMEPAGE"), year, year, null, 'nav-link') }}
            </li>
        {% endfor %}
    </ul>
</div>